<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send WhatsApp Messages</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        .form-group {
            margin: 20px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="#">WhatsApp Messages</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="active nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron">
        <h2>Send WhatsApp Messages</h2>
        <h5>Make sure to send limited messages otherwise your number may get blocked by WhatsApp</h5>
    </div>
    <div class="container">
        <%if(status===false && data){%>
            <div class="alert alert-danger">
                <strong>Error!</strong>
                <%=data%>
            </div>
            <%}%>
                <%if(status && data==="wait"){%>
                    <div class="alert alert-warning">
                        <strong>Alert!</strong> Wait for few seconds and refresh the page again to get the QR code!
                    </div>
                    <%}%>

                        <%if(status && data !== "wait" && data){%>
                            <div class="text-center">
                                <h5>Scan QR Code</h5>
                                <img src="<%=data%>" alt="" style="width:300px; height:300px;">
                                <div>
                                    <p id="demo"></p>
                                </div>
                            </div>
                            <a href="/" class="btn btn-primary">Go Back!</a>
                            <script>
                                function addMinutes(date, minutes) {
                                    return new Date(date.getTime() + minutes * 60000);
                                }
                                $(document).ready(() => {
                                    // Set the date we're counting down to
                                    var countDownDate = addMinutes(new Date(), 10).getTime();
                                    var c = 0;
                                    // Update the count down every 1 second
                                    var x = setInterval(function() {

                                        // Get today's date and time
                                        var now = new Date().getTime();
                                        c++;
                                        // Find the distance between now and the count down date
                                        var distance = countDownDate - now;

                                        // Time calculations for days, hours, minutes and seconds
                                        // var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                                        // var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                                        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                                        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                                        // Output the result in an element with id="demo"
                                        document.getElementById("demo").innerHTML = minutes + "m " + seconds + "s ";
                                        // console.log(distance);
                                        if (c % 30 === 0) {
                                            $.ajax({
                                                url: "/status",
                                                success: function(result) {
                                                    /* if (result !== "wait") {
                                                        window.location = "/";
                                                    } */
                                                }
                                            });
                                        }
                                        // If the count down is over, write some text 
                                        if (distance < 0) {
                                            clearInterval(x);
                                            document.getElementById("demo").innerHTML = "EXPIRED";
                                        }
                                    }, 1000);

                                });
                            </script>
                            <%}     else{%>
                                <div class="row">
                                    <div class="col">
                                        <form action="/up" method="POST" enctype="multipart/form-data">
                                            <div class="form-group">
                                                <label for="csv">Upload CSV File: </label>
                                                <input type="file" class="form-control-file" accept=".csv" placeholder="Upload CSV File" id="csv" name="csv" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="message">Enter Message: </label>
                                                <textarea class="form-control" placeholder="Enter message" rows="5" id="message" name="message" required></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="">Attachment Type: </label> <br>
                                                <div class="form-check-inline">
                                                    <label class="form-check-label">
                              <input type="radio" onchange="onAttachmentTypeChange(this)" class="form-check-input" name="attachment_type" value="image" checked>Image
                            </label>
                                                </div>
                                                <div class="form-check-inline">
                                                    <label class="form-check-label">
                              <input type="radio" onchange="onAttachmentTypeChange(this)" class="form-check-input" name="attachment_type" value="pdf">PDF
                            </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="attachment">Upload Attachment: </label>
                                                <input type="file" class="form-control-file" id="attachment" name="attachment" accept="image/*" required>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary">Send Messages</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <%}%>
    </div>
    <footer>
        <pre class="text-center">Developed by: Mit Patel <br> Email: <a href="mailto:patelmit2012@gmail.com">patelmit2012@gmail.com</a></pre>
    </footer>

    <script>
        function onAttachmentTypeChange(e) {
            if (e.value === "pdf")
                $("#attachment").attr("accept", ".pdf");
            else
                $("#attachment").attr("accept", "image/*");
        }
    </script>
</body>

</html>