<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send WhatsApp Messages</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        .form-group {
            margin: 20px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="#">WhatsApp Messages</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron">
        <h2>Send WhatsApp Messages</h2>
        <h5>Make sure to send limited messages otherwise your number may get blocked by WhatsApp</h5>
        <pre>Note: Sometimes, due to the resources issues, the attachments might not be sent to the users!!!</pre>
    </div>
    <div class="container">
        <h5>Check the status of the task by downloading this file!</h5>
        <a href="/uploads/status.csv" target="_blank">Status File</a>
    </div>
    <footer class="fixed-bottom">
        <pre class="text-center">Developed by: Mit Patel <br> Email: <a href="mailto:patelmit2012@gmail.com">patelmit2012@gmail.com</a></pre>
    </footer>
</body>

</html>